Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [5]:
data[ data.rating == 5.0 ].groupby(['movieId','rating']).count().sort_values('userId', ascending=False).head(1)

                userId  timestamp
movieId rating
318     5.0      39553      39553

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
data[(data.country.isin(["Estonia","Lithuania","Latvia"]))
    & (data.category.isin([4,12,21]))
    &(data.year >= 2005)  & (data.year <= 2010)
    &(data.quantity > 0)]['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти)

In [12]:
dataf = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni',encoding='utf-8')
dataf

[     0       1      2        3       4      5        6       7      8   \
 0  ММВБ   2 952  -0,7%   Nasdaq  10 793  -1,1%  Биткойн  10 948   0,1%
 1   РТС   1 229  -1,2%   S&P500   3 319  -1,1%    Нефть     431   0,2%
 2   Dow  27 657  -0,9%  FTSE100   6 007  -0,7%   Золото   1 953  -0,5%

         9       10    11
 0  USD/RUB  755740  0,1%
 1  EUR/RUB  896250  0,0%
 2  EUR/USD   11859  0,1%  ,
     Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       978405      -               976480
 1          NaN            EUR/RUB       897558      -               896510
 2          NaN            USD/RUB       763555      -               755145
 3          NaN            JPY/RUB        07294      -                07224
 4          NaN            CNY/RUB       112229      -               111561
 5          NaN            CHF/RUB       834011      -               829249
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11761      -                11846
 8          NaN            EUR/GBP        09174      -                09160
 9          NaN            EUR/JPY      1229990      -              1238250
 10         NaN            EUR/CHF        10759      -                10784
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08499      -                08442
 13         NaN            USD/GBP        07796      -                07733
 14         NaN            USD/JPY      1045825      -              1045400
 15         NaN            USD/CHF        09148      -                09108
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08100      -                08100
 18         NaN            JPY/GBP        00075      -                00074
 19         NaN            JPY/USD        00096      -                00096
 20         NaN    JPY/CHF (100:1)        08700      -                08700
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        12822      -                12932
 23         NaN            GBP/JPY      1341756      -              1351807
 24         NaN            GBP/EUR        10900      -                10919
 25         NaN            GBP/CHF        11728      -                11775
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11728      -                11775
 28         NaN            EUR/CHF        10759      -                10784
 29         NaN    JPY/CHF (100:1)        08700      -                08700
 30         NaN            USD/CHF        09148      -                09108
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       332214      -               333846
 33         NaN            USD/UAH       282363      -               281821
 34         NaN            CHF/UAH       308661      -               309477
 35         NaN            GBP/UAH       362187      -               364424

           %  Абсолютное значение     Время
 0    0,20 %                01925  16:47:00
 1    0,12 %                01048  16:46:00
 2    1,11 %                08410  16:46:00
 3    0,97 %                00070  16:47:00
 4    0,60 %                00669  16:46:00
 5    0,57 %                04762  16:46:00
 6         %  Абсолютное значение     Время
 7   -0,72 %               -00085  16:46:00
 8    0,15 %                00014  16:46:00
 9   -0,67 %               -08260  16:46:00
 10  -0,24 %               -00026  16:46:00
 11        %  Абсолютное значение     Время
 12   0,68 %                00058  16:46:00
 13   0,81 %                00063  16:47:00
 14   0,04 %                00425  16:46:00
 15   0,44 %                00040  16:46:00
 16        %  Абсолютное значение     Время
 17   0,69 %                00001  16:46:00
 18   0,75 %                00001  16:47:00
 19  -0,05 %                00000  16:46:00
 20   0,45 %                00000  16:46:00
 21        %  Абсолютное значение     Время
 22  -0,85 %               -00111  16:46:00
 23  -0,74 %               -10051  16:47:00
 24  -0,17 %               -00019  16:46:00
 25  -0,39 %               -00046  16:46:00
 26        %  Абсолютное значение     Время
 27  -0,39 %               -00046  16:46:00
 28  -0,24 %               -00026  16:46:00
 29   0,45 %                00000  16:46:00
 30   0,44 %                00040  16:46:00
 31        %  Абсолютное значение     Время
 32  -0,49 %               -01632  16:46:00
 33   0,19 %                00542  16:45:00
 34  -0,26 %               -00816  16:46:00
 35  -0,61 %               -02237  16:47:00  ,
                                                    0  \
 0                                      Имя и фамилия
 1                                            Телефон
 2                                                NaN
 3  Я даю согласие на обработку своих персональных...

                                                    1  \
 0                                              Город
 1                                              Email
 2                                                NaN
 3  Я даю согласие на обработку своих персональных...

                                                    2  \
 0                                                NaN
 1                                                NaN
 2  Спасибо! Ваша заявка отправлена Финансовый кон...
 3                                                NaN

                                                    3  \
 0                                                NaN
 1                                                NaN
 2  Спасибо! Ваша заявка отправлена Финансовый кон...
 3                                                NaN

                                                    4  \
 0                                                NaN
 1                                                NaN
 2  ошибка: не удалось создать заявку в журнале за...
 3                                                NaN

                                                    5                       6  \
 0                                                NaN                     NaN
 1                                                NaN                     NaN
 2  ошибка: не удалось создать заявку в журнале за...  ошибка: не POST-запрос
 3                                                NaN                     NaN

                         7                                                  8  \
 0                     NaN                                                NaN
 1                     NaN                                                NaN
 2  ошибка: не POST-запрос  Просим Вас согласиться на передачу и обработку...
 3                     NaN                                                NaN

                                                    9
 0                                                NaN
 1                                                NaN
 2  Просим Вас согласиться на передачу и обработку...
 3                                                NaN  ]